.dialog__backdrop{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #f8f8ff !important;
  overflow: hidden;
  opacity: .8;
}
.dialog__layout{
  height: 100%;
  width: 100%;
  padding: 1px;
  position: relative;
  overflow-y: auto;
  .dialog__inner{
    position: relative;
    border-radius: 57.6px 19.2px 19.2px 19.2px;
    background-color: #ffffff;
    padding: 15px 80px 30px;
    overflow: hidden;
    width: 1200px !important;
    max-width: 100% !important;
    margin: 100px auto 20px;
    .close__icon{
      position: absolute;
      z-index: 100;
      top: 20px;
      right: 20px;
    }
    @media all and (max-width: 768px){
      padding: 60px 15px 30px;
    }
  }
}
