.dialog__backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #212121 !important;
  overflow: hidden;
  opacity: 0.46;
}
.dialog__layout {
  height: 100%;
  width: 100%;
  padding: 1px;
  position: relative;
  overflow-y: auto;
  .dialog__inner {
    position: relative;
    box-shadow: 0 10px 15px -7px rgba(0, 0, 0, 0.08), 0 10px 10px 3px rgba(0, 0, 0, 0.06), 0 9px 10px 8px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 15px 80px 30px;
    overflow: hidden;
    width: 1200px !important;
    max-width: 100% !important;
    margin: 100px auto 20px;
    .close__icon{
      position: absolute;
      z-index: 100;
      top: 20px;
      right: 20px;
    }
    @media all and (max-width: 768px){
      padding: 60px 15px 30px;
    }
  }
}
