.email-account-confirmed-page {
  padding: 90px 15px 50px;

  .page__inner {
    max-width: 100%;
    width: 1200px;
    margin: 0px auto;
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
